.header-searchResult {
  position:fixed;
  top: 0;
  color: black;
  display: flex;
  justify-content: space-between;
  width: 100%;
  height: 80px;
  
  
  background-color:aqua;
  align-items: center;
  box-shadow: 1px 1px 1px 1px white;
}
.side-map{
    position: fixed;
    background-color: aqua;
    top:80px;
    width:30%;
    height: 100vh;
    right:0px;
    
}

